DAILY_API_KEY=
DAILY_API_URL=
DAILY_SAMPLE_ROOM_URL=
OPENAI_API_KEY=
CARTESIA_API_KEY=
ANTHROPIC_API_KEY=

# LangSmith configuration
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=interview-bot

# Other API keys
DEEPGRAM_API_KEY=