# Core Framework
fastapi
uvicorn

# Environment and Settings
python-dotenv
pydantic
pydantic-settings

# Networking
aiohttp

# AI and Language Processing
langchain
langchain-anthropic

# Audio Processing
pipecat
pipecat-ai[daily,cartesia,openai,anthropic,cartesia,silero,deepgram]

# Logging
loguru

# ONNX Runtime
onnxruntime

daily-python

openai
websockets