# Core Framework
fastapi
uvicorn

# Environment and Settings
python-dotenv
pydantic
pydantic-settings

# Networking
aiohttp

# AI and Language Processing
langchain
langchain-anthropic
langchain-groq
langchain-community
langgraph
# Audio Processing
pipecat
pipecat-ai[daily,cartesia,openai,anthropic,cartesia,koala,silero,deepgram,aws]

# Logging
loguru
langsmith

# ONNX Runtime
onnxruntime

daily-python

openai
websockets